body {
  background-image: url(./assets/ChatGPT\ Image\ 28\ de\ jul.\ de\ 2025\,\ 22_38_01.png);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: top center;
  background-color: #121214;
  color: white;
}

header{
  display: flex;
  align-items: center;
  margin: 60px;
  justify-items: center;
  justify-content: space-between;
}

header ul{
  display: flex;
  justify-items: center;
  gap: 24px;
  color: green;
}
